.footer-content a.button {
    font-size: 10px;
    padding: 6px 16px;
}
.hz-faq-wrapper {
    padding: 20px 0px;
}
.product-details {
    padding-bottom: 30px;
}
.product-form-buttons button {
    border-radius: 12px;
    font-size: 15px;
}
.variant-option--buttons legend {
    font-size: 15px;
    color: #0A1A4A;
    font-weight: 500;
    letter-spacing: -1px;
}
.variant-option__button-label {
    border: 1px solid #E5E5EA !important;
}
.subscription_group {
    border: 1px solid #E1E6EB !important;
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
}
.plan_card {
    border: 0 !important;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}
.subscription_group:has(input[type="radio"]:checked) {
  border-color: #0A4FD6 !important;
  background:#FCF9F5;
}
.title_and_price_wrapper {
    color: #0A1A4A;
    font-size: 13px;
    font-weight: 700;
}
.custom_radio_button:has(input[type='radio']:checked):before{
    background: #0A4FD6 !important;
    box-shadow: 0 0 0 2px #0a4fd6!important;
}
.slideshow-controls__thumbnails .slideshow-control {
    width: 80px !important;
    height: 52px !important;
    border-radius: 8px !important;
    border: 2px solid #98A3DE !important;
}
slideshow-controls[pagination-position=center][thumbnails] {
    position: absolute;
    bottom: 4px;
}