.footer-content a.button {
    font-size: 10px;
    padding: 6px 16px;
}
.hz-faq-wrapper {
    padding: 20px 0px;
}
.product-details {
    padding-bottom: 30px;
}
.product-form-buttons button {
    border-radius: 12px;
    font-size: 15px;
}
.variant-option--buttons legend {
    font-size: 15px;
    color: #0A1A4A;
    font-weight: 500;
    letter-spacing: -1px;
}
.variant-option__button-label {
    border: 1px solid #E5E5EA !important;
}
.variant-card__inner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 5px;
}

.variant-option__button-label:has(:checked) {
    background: #0b57e3;
}
.variant-option__button-label:has(:checked) .variant-card__title {
    color: #fff;
}
.variant-option__button-label:has(:checked) .variant-card__sub-price  {
    color: #fff;
}
.variant-option__button-label:has(:checked) .variant-card__sub-price  {
    color: #fff;
}
.variant-option__button-label:has(:checked) .variant-card__onetime-price {
    color: #B9C2D2;
}
.variant-option__button-label:hover, .variant-option__button-label:hover:has([aria-disabled=true]):has([data-option-available=false]){
    background: #0B57E3;
}
span.variant-card__title {
    width: 100%;
    color: #0A1A4A;
    font-weight: bold;
}

.variant-card__badge {
    background: #0A1A4A;
    position: absolute;
    top: -10px;
    font-size: 9px;
    color: #fff;
    z-index: 111;
    padding: 3px 8px;
    border-radius: 4px;
}

.variant-card__sub-price {
    display: block;
    width: 100%;
    color: #0B57E3;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.variant-card__onetime-price {
    display: block;
    margin: 0 auto;
    color: #5E6C84;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.variant-card__duration {
    display: block;
    width: 100%;
}
.subscription_group {
    border: 1px solid #E1E6EB !important;
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
}
.most_popular{
    overflow: visible !important;
}
.plan_card {
    border: 0 !important;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}
.subscription_group:has(input[type="radio"]:checked) {
  border-color: #0A4FD6 !important;
  background:#FCF9F5;
}
.title_and_price_wrapper {
    color: #0A1A4A;
    font-size: 13px;
    font-weight: 700;
}
.custom_radio_button:has(input[type='radio']:checked):before{
    background: #0A4FD6 !important;
    box-shadow: 0 0 0 2px #0a4fd6!important;
}
.slideshow-controls__thumbnails .slideshow-control {
    width: 82px !important;
    height: 52px !important;
    border-radius: 8px !important;
    border: 2px solid #98A3DE !important;
}
slideshow-controls[pagination-position=center][thumbnails] {
    position: absolute;
    bottom: 4px;
}
slideshow-arrows[position=center].pagination-arrows {
    align-items: flex-end;
    bottom: 30px;
    mix-blend-mode: normal;
    margin: 0 10px;
}

slideshow-arrows .slideshow-control {
    background: #FFFFFF8C;
    border: 0.5px solid #FFFFFF;
    min-width: 16px !important;
    min-height: 16px !important;
    display: flex;
    justify-content: center;
    padding-inline: 0 !important;
    border-radius: 100%;
    opacity: 1 !important;
}

.media-gallery--carousel slideshow-arrows .slideshow-control svg path {stroke: #0A1A4A;}
.media-gallery--carousel slideshow-arrows .slideshow-control svg {
    width: 14px;
}
.slideshow-controls__thumbnails-container{
    padding: 0 20px;
}
.slideshow-controls__thumbnails {
    gap: 4px !important;
}
.accordion .details{
    border-bottom: 3.01px solid #B9B7AC;
}
.hz-faq-wrapper .accordion--dividers .details-content,.accordion--dividers .details-content p {
    color: #0A1A4A;
}
.hz-faq-wrapper .accordion .details__header {
 justify-content: space-between;
}